.input-xxmini {width: 20px}
.input-xmini {width: 50px}
.table td, .table th {
    text-align: center;
    vertical-align: middle
}
.uneditable-input, .uneditable-textarea {
    color: #000;
    background-color: #fff
}
select, textarea, 
input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], .uneditable-input { 
    margin-bottom: 0
}

